*{
  box-sizing: border-box;
}

html, body {
  min-height:100vh;
  margin:0;
}

body{
  background-color: gainsboro ;
}

#wrapper{
  position: relative;
  top: -22px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
  overflow: hidden;
}

.topNav{
  background-color: #555555;
  overflow: hidden;
}

.topNav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topNav a:hover {
  background-color: #444444;
  color: black;
}

.botContent {
  padding: 20px;
}

div{
  padding: 5px;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  text-decoration: none;
  width: 250px;
  padding: 10px;
  margin: 0px;
}
ul li {
  background-color: #E6E6E6;
  background-image: url("//www.kirupa.com/images/gray_smiley.png");
  background-position: 7px 7px;
  background-repeat: no-repeat;
  color: #666;
  list-style: none outside none;
  padding-left: 29px;
}

img {
  width: 100%
}
